body {
	background: url('../img/background.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.map-image {
  max-width: 100%;  
  height: auto; 
  padding-left: 10%; 
  padding-right: 10%; 
  align-self: center;
  align-self: auto;
}

.zest {
  list-style: square inside url(../img/icon2.png);
  display: block;
  margin: 0;
  padding: 0;
}

.mzest {
  
}

.bd {
	border: 1px solid black;
	background-color: #E6E6E6;
}

.centered tr {
  width: 30px;
  height: 74px;
}

#hawai{
	background-color: rgba(238, 155, 3, 0.6);
}

#alaska{
	background-color: rgba(118, 61, 145, 0.6);
}

#pacific{
	background-color: rgba(198, 11, 39, 0.6)
}

#mountain{
	background-color: rgba(20, 175, 232, 0.6);
}

#central{
	background-color: rgba(2, 170, 52, 0.6);
}

#central-1{
	background-color: #02AA34;
}

#eastern{
	background-color: rgba(248, 228, 0, 0.6);
}

#eastern-1{
	background-color: #F8E400;
}
#header-table{
  background-color: rgba(179, 179, 169, 0.6);
  text-decoration: underline;
  border:3px solid grey;
}

.exept{
	color: red;
	border: 3px solid black;
}

.exept-1{
	border: 3px solid black;
}

.centered {
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    align-self: Auto;
}

.centered table {
  background-color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  max-width: inherit;
}
.centered table tr{
  height: 30px;
}

#reason{
  font-family: courier;
  font-size: 13px;
  width: 175px;
  height: 80px;
  resize: none;
}

#info{
  font-family: courier;
  font-size: 13px;
  width: 175px;
  height: 80px;
  resize: none;
}

#action{
  font-family: courier;
  font-size: 13px;
  width: 175px;
  height: 80px;
  resize: none;
}

#cid{
  font-family: courier;
  font-size: 13px;
  width: 200px;
  height: 25px;
  resize: none;
}

#cidname{
  margin-left: 13px;
}

#memodata{
  border-right: solid;
}

#mainClock{
  Width: 200px;
  border: none;
  font-weight: bold;
}

#riaOutcome{
  font-family: Times New roman;
  font-size: 18px;
}

small {
    font-size: 3px;
}

.jumbotron {
   background: rgb(238, 238, 238); /* This is for ie8 and below */
   background: rgba(238, 238, 238, 0.6); 
}

.center-div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}

.vcenter{
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
}

.user-table {
  width:100%;
}



td {
  text-align: left;
}

.timezone_table{
  width: 100%;
  
}
.timezone_table table{
  border-left: 3px solid black;
}
.timezone_table th{
  border: 2px solid black;
}

.error {
  font-size: 12px;
  font-weight: bold;
  color: red;
  text-align: center;
}
.table-states table{
  width: 100%;
}

.table-states tbody {
  background-color: rgba(204, 204, 204, 0.3);
  height: 600px;
  overflow-y: auto;
}
.table-states {
  border: 1px solid black;
}
.table-states th{
  text-align: center;
  border: 2px solid black;
}
.table-states thead{
  text-transform: capitalize;
  font-weight: bold;
  color: #DCDCDC;
  background-color: rgba(140, 140, 140, 0.8);
  height: 30px;
}

.table-states a{
  text-align: center;
  text-align: middle;
}


.error0 {
  font-size: 12px;
  font-weight: bold;
  color: red;
}

.change {
  border: 2px red solid;
}

.border-right {
  border-right: 3px solid black;
}

.btn a {
  text-decoration: none;
}
.first-capital{
  text-transform: capitalize;
}

.proper{
  text-transform: capitalize;
}
table {
  width: 100%;
}
.table-state-edit {
  width: 100%;
}
.table-states-edit td  {
    text-align: middle, center;
    border: 1px solid black;
}

.table-state-edit th {
  text-align: center, middle;
  border: 2px solid black;
}
  
.msg {
  color: red;
  font-weight: bold;
  text-align: center;
}


.table-state-edit button {
  width: 50px;
  align-items: center;
}

td {
  margin-bottom: 12px;
}

.btn-close div {
  align-self: flex-end;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; } /* Default */
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.table-test td {
  text-align: left;
}
.col-md-3 span {
  text-align: justify;
}

.rate{
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

.emmenu{
  margin-left: 20px;
  margin-right: 20px;
}

.sch{
  margin-top:20px;
  margin-bottom:40px;
  font: 20px/30px Arial, sans-serif;
}

.sptitle {
  color: #3793D2;
}

.version{
  text-align: right;
}
#memo {
  z-index: 9;
  width: 250px;
  height: auto;
  border: 2px solid black;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #d9d9d9;
}

#memoheader {
  z-index: 10;
  padding: 10px;
  background: grey;
  background-size: 100px;
  font-style: 15px solid black;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 15px;
}

 #memofooter {
  z-index: 10;
  bottom: inherit;
  padding: 10px;
  background: grey;
  background-size: 100px;
  font-style: 15px solid black;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 15px;
 }
 .offset25px {
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
 }
 
.memobody {
  z-index: 10;
  height: 170px;
  margin: 1px;
  background-color: #ffffff;
 }

.schl li {
  font-size: 18px;
  font-weight: 500;
}
.offset50px{
  margin-left: 50px;
    margin-bottom: 10px;
    margin-top: 5px;
}
ul .p_list {
  font-size: 18px;
  font-weight: inherit;
}
ul .p_list_disc {
  list-style-type: disc;
  font-size: 18px;
  font-weight: inherit;
}
ol li .p_list_decimal {
  font-size: 18px;
  list-style-type:decimal;
  font-weight: inherit;
}
ol .p_list_decimal {
  font-size: 18px;
  font-weight: inherit;
}
.wrap {
  word-wrap: break-word;
}